// Elements – styling for bare HTML elements

body {
	@include body;
	line-height: normal;
	overflow-y: scroll;
}

a {
	word-wrap: break-word;
	
	&:hover {
		color: black;
	}
}

em {
	font-style: italic;
}

img {
	display: block;
	max-width: 100%;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	@include heading-font;
	margin-top: 20px;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
	margin-bottom: 10px;
}

h3 {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 25px;
}

h4 {
	font-size: 22px;
	margin-bottom: 10px;
}

h5 {
	font-size: 18px;
	margin-bottom: 10px;
}

h6 {
	font-size: 16px;
	margin-bottom: 10px;
}

hr {
	border: 0;
	border-top: 1px solid black;
	height: 1px;
}

strong {
	font-weight: bold;
}

ol {
	@include body;
	list-style-type: decimal;
	padding-left: 40px;
	
	li {
		margin-bottom: 10px;
		line-height: normal;
	}
}

p {
	@include body;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0;

	li {
		@include body;
		background-image: url(https://images.wikia.nocookie.net/__cb20140826143924/pokemon/images/4/4d/Poke_Ball_bullet.png);
		background-repeat: no-repeat;
		background-size: 12px;
		background-position: left 25px center;
		padding-left: 50px;
		overflow: visible;
	}
}

video {
	width: 100%;
	margin-bottom: 20px;
}